In [1]:
import pandas as pd
import random
import sys

%load_ext autoreload
%autoreload 2

sys.path.append('src')
from Generator import Generator

Sample complexity
Complejidad muestral

## No time, no order

### Instant action
Observaciones independientes binarias/categorícas (determinista)
dedes baesians
https://github.com/pgmpy/pgmpy

In [11]:
random.seed(1)
cause_function = lambda causes: 1 if causes[0][0] else 0

generator = Generator(cause_function) \
    .add_noise_discrete() \
    .add_cause_discrete()

display(generator.generate().astype(int))

   E  N  X
0  1  0  1
1  0  1  0
2  0  0  0

### Random samples
Observaciones indepnedientes de variables continuas
Exchangeable

ruido gausiano
https://en.wikipedia.org/wiki/Structural_equation_modeling

In [12]:
random.seed(10)
cause_function = lambda causes: 2 * causes[0][0]

generator = Generator(cause_function) \
    .add_noise_continuous() \
    .add_cause_continuous()

display(generator.generate().astype(int))

   E  N   X
0  4  5   8
1  2  5   4
2  8  8  16

## With order, no time

### Logs like

In [10]:
random.seed(14)

cause_function = lambda causes:\
    1 if len(causes) > 1 and causes[1][0] == 1 else None

dataset = Generator(cause_function, ordered=True) \
    .add_noise_discrete() \
    .add_cause_discrete()

display(dataset.generate().astype(int))

   E  N  X
0  0  1  0
1  1  0  0
2  0  0  1

### Pattern search
Lectura de sensores
Lectura puntual tras acción

In [5]:
# Continuous - No time - With order
continuous = pd.DataFrame({
    'E': [1,2,3],
    'X': [2,4,8]
})

display(continuous)

   E  X
0  1  2
1  2  4
2  3  8

## With time
uniform sample
muestreos con tiempos uniformes

tidybench (causali discovery from time series)
tigramite (causal discovery from time series)

In [6]:
discrete = pd.DataFrame({
    'T':['jan','jan','aug'],
    'N': [1,0,0],
    'E': [0,1,1],
    'X': [0,1,0]
})

display(discrete)

     T  N  E  X
0  jan  1  0  0
1  jan  0  1  1
2  aug  0  1  0

In [7]:
continuous = pd.DataFrame({
    'T':['jan','jan','aug','aug'],
    'N': [2,5,0,7],
    'E': [8,3,4,10],
    'X': [16,6,12,30]
})

display(continuous)

     T  N   E   X
0  jan  2   8  16
1  jan  5   3   6
2  aug  0   4  12
3  aug  7  10  30

## With delay

In [8]:
discrete = pd.DataFrame({
    'T':[1,2,5,10],
    'N': [0,1,1,0],
    'E': [1,0,0,0],
    'X': [0,0,0,1]
})

display(discrete)

    T  N  E  X
0   1  0  1  0
1   2  1  0  0
2   5  1  0  0
3  10  0  0  1

In [9]:
continuous = pd.DataFrame({
    'T':[1,3,5,7,9],
    'N': [2,5,0,7,6],
    'E': [1,4,4,2,2],
    'X': [2,2,8,8,4]
})

display(continuous)

   T  N  E  X
0  1  2  1  2
1  3  5  4  2
2  5  0  4  8
3  7  7  2  8
4  9  6  2  4

## Multiple causes

In [10]:
discrete = pd.DataFrame({
    'N': [1,1,0],
    'E1': [0,1,1],
    'E2': [0,0,1],
    'X': [0,0,1]
})

display(discrete)

   N  E1  E2  X
0  1   0   0  0
1  1   1   0  0
2  0   1   1  1

In [11]:
from collections import deque
import pandas as pd

sample = {'F':3, 'E':'e'}

d = deque()
d.appendleft([0,10])
d.appendleft(list(sample.values()))

r = {'E':3}+{'Q':2}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

tipo de ruido
gausiano / exponencial / no gausiano