In [1]:
import pandas as pd
import numpy as np
import random
import sys
from typing import Callable

%load_ext autoreload
%autoreload 2

sys.path.append('src')
from Generator import Generator
from events.History import History

Sample complexity
Complejidad muestral

## No time, no order

### Instant action
Observaciones independientes binarias/categor√≠cas (determinista)
dedes baesians
https://github.com/pgmpy/pgmpy

In [2]:
random.seed(1)

cause_function: Callable[[History], float] = lambda history: \
    1 if history.get_event(0) == 1 else 0

dataset = Generator(cause_function) \
    .add_noise_discrete() \
    .add_cause_discrete()

display(dataset.generate().astype(int))

   E  N  X
0  1  0  1
1  0  1  0
2  0  0  0

### Random samples
Observaciones indepnedientes de variables continuas
Exchangeable

ruido gausiano
https://en.wikipedia.org/wiki/Structural_equation_modeling

In [3]:
random.seed(10)

cause_function: Callable[[History], float] = lambda history: \
    2 * history.get_event(0)

dataset = Generator(cause_function) \
    .add_noise_continuous() \
    .add_cause_continuous()

display(dataset.generate().astype(int))

   E  N   X
0  4  5   8
1  2  5   4
2  8  8  16

## With order, no time

### Logs like

In [4]:
random.seed(14)

cause_function: Callable[[History], float] = lambda history: \
    1 if history.get_event(0, time=1) == 1 else None

dataset = Generator(cause_function, ordered=True) \
    .add_noise_discrete() \
    .add_cause_discrete()

display(dataset.generate().astype(int))

   E  N  X
0  0  1  0
1  1  0  0
2  0  0  1

### Sensors reads
Lectura secuencial de sensores

In [5]:
random.seed(14)

cause_function: Callable[[History], float] = lambda history: \
    2 * history.get_event(0, time=1) + 3

dataset = Generator(cause_function, ordered=True) \
    .add_noise_continuous() \
    .add_cause_continuous()

display(dataset.generate().astype(int))

   E  N   X
0  0  7   0
1  9  0   0
2  0  0  21

## With time
### Pattern search
uniform sample
muestreos con tiempos uniformes

tidybench (causali discovery from time series)
tigramite (causal discovery from time series)

In [8]:
cause_function: Callable[[History], float] = lambda history: \
    np.sin(history.get_time() / 60 / 5 * np.pi / 2)

dataset = Generator(cause_function) \
    .set_time('2018-05-13 20:15', step='5m')

display(dataset.generate(6).astype(int))

            T  X
0  1526235600  0
1  1526235900  1
2  1526236200  0
3  1526236500 -1
4  1526236800  0
5  1526237100  1

## With delay

In [ ]:
discrete = pd.DataFrame({
    'T':[1,2,5,10],
    'N': [0,1,1,0],
    'E': [1,0,0,0],
    'X': [0,0,0,1]
})

display(discrete)

In [ ]:
continuous = pd.DataFrame({
    'T':[1,3,5,7,9],
    'N': [2,5,0,7,6],
    'E': [1,4,4,2,2],
    'X': [2,2,8,8,4]
})

display(continuous)

## Multiple causes

In [ ]:
discrete = pd.DataFrame({
    'N': [1,1,0],
    'E1': [0,1,1],
    'E2': [0,0,1],
    'X': [0,0,1]
})

display(discrete)

In [ ]:
from collections import deque
import pandas as pd

sample = {'F':3, 'E':'e'}

d = deque()
d.appendleft([0,10])
d.appendleft(list(sample.values()))

r = {'E':3}+{'Q':2}

tipo de ruido
gausiano / exponencial / no gausiano