In [73]:
import pandas as pd
import numpy as np
import random
import sys
from typing import Callable

%load_ext autoreload
%autoreload 2

sys.path.append('src')
from Generator import Generator
from events.History import History

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Sample complexity
Complejidad muestral

## No time, no order

### Instant action
Observaciones independientes binarias/categor√≠cas (determinista)
dedes baesians
https://github.com/pgmpy/pgmpy

In [86]:
random.seed(1)

effect_function: Callable[[History], float] = lambda history: \
    1 if history.get_cause() == 1 else 0

dataset = Generator() \
    .add_effect(lambda: 1 if history.get_cause() == 1 else 0) \
    .add_noise_discrete() \
    .add_cause_discrete()

display(dataset.generate().astype(int))

ValueError: Cannot convert non-finite values (NA or inf) to integer

### Random samples
Observaciones indepnedientes de variables continuas
Exchangeable

ruido gausiano
https://en.wikipedia.org/wiki/Structural_equation_modeling

In [75]:
random.seed(10)

effect_function: Callable[[History], float] = lambda history: \
    2 * history.get_cause()

dataset = Generator() \
    .add_effect(effect_function) \
    .add_noise_continuous() \
    .add_cause_continuous()

display(dataset.generate().astype(int))

   C   E  N
0  4   8  5
1  2   4  5
2  8  16  8

## With order, no time

### Logs like

In [76]:
random.seed(14)

effect_function: Callable[[History], float] = lambda history: \
    1 if history.get_cause(delay=1) == 1 else None

dataset = Generator(ordered=True) \
    .add_effect(effect_function) \
    .add_noise_discrete() \
    .add_cause_discrete()

display(dataset.generate().astype(int))

   C  E  N
0  0  0  1
1  1  0  0
2  0  1  0

### Sensors reads
Lectura secuencial de sensores

In [85]:
random.seed(14)

dataset = Generator(ordered=True) \
    .add_effect(lambda: 2 * history.get_cause(delay=1) + 3) \
    .add_noise_continuous() \
    .add_cause_continuous()

display(dataset.generate().astype(int))

   C  E  N
0  0  0  7
1  9  0  0
2  0  0  2

## With time
### Pattern search
uniform sample
muestreos con tiempos uniformes

tidybench (causali discovery from time series)
tigramite (causal discovery from time series)

In [78]:
effect_function: Callable[[History], float] = lambda history: \
    np.sin(history.get_timestamp() / 60 / 5 * np.pi / 2)

dataset = Generator() \
    .add_effect(effect_function) \
    .set_time('2018-05-13 20:15', step='5m')

display(dataset.generate(6).astype(int))

   E           T
0 -1  1526235300
1  0  1526235600
2  1  1526235900
3  0  1526236200
4 -1  1526236500
5  0  1526236800

#### Date noise

In [79]:
random.seed(1)

effect_function: Callable[[History], float] = lambda history: \
    np.sin(history.get_timestamp() / 60 / 60 * np.pi / 2)

dataset = Generator() \
    .add_effect(effect_function) \
    .set_time('2010-10-20 20:00', step='1h', precision='10m')

display(dataset.generate(6).round(1))

     E             T
0  0.2  1.287597e+09
1 -1.0  1.287602e+09
2  0.1  1.287605e+09
3  1.0  1.287608e+09
4  0.0  1.287612e+09
5 -1.0  1.287616e+09

## With delay

In [80]:
random.seed(5)

effect_function: Callable[[History], float] = lambda history: \
    2 * history.get_cause(delay=2, null_value=0)

dataset = Generator() \
    .add_effect(effect_function) \
    .add_cause_continuous(1, 3)

display(dataset.generate(6).astype(int))

   C  E
0  2  0
1  2  0
2  2  4
3  2  4
4  2  5
5  2  5

## Multiple causes

In [81]:
random.seed(10)

effect_function: Callable[[History], float] = lambda history: \
    history.get_cause(0) + history.get_cause(1)

dataset = Generator() \
    .add_effect(effect_function) \
    .add_cause_continuous() \
    .add_cause_continuous()

display(dataset.generate().astype(int))

   C1  C2   E
0   5   4  10
1   5   2   7
2   8   8  16

tipo de ruido
gausiano / exponencial / no gausiano

## Shadow causes

In [82]:
random.seed(10)

effect_function: Callable[[History], float] = lambda history: \
    history.get_cause(0) + history.get_cause(1)

dataset = Generator() \
    .add_effect(effect_function) \
    .add_cause_continuous(shadow=True) \
    .add_cause_continuous()

display(dataset.generate().astype(int))

   C2   E
0   4  10
1   2   7
2   8  16

## Multiple effects

In [83]:
random.seed(3)

dataset = Generator() \
    .add_cause_continuous() \
    .add_effect(lambda history: int(history.get_cause()) * 2) \
    .add_effect(lambda history: history.get_effect() + 1)

display(dataset.generate().astype(int))

   C  E1  E2
0  2   4   5
1  5  10  11
2  3   6   7